.formulario-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 80px 40px;

}
.formulario-container .formulario {
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 36px 64px;
    flex: 1; /*cada formulario tem 50% da pagina*/
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 32px;
}

